{% load static %}

<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col">
        <form method="post" action="{% url 'index' %}">
          {% csrf_token %}
          <h4>Criar <span>Turmas</span></h4>
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="inputQuantidade">Quantidade de turmas</label>
              <input
                type="number"
                class="form-control"
                id="inputQuantidade"
                name="quantidade"
                placeholder=""
              />
            </div>
          </div>
          <!-- Uncomment the additional fields if needed -->
          <!-- 
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="inputDoctorName">Materias disponiveis para o Semestre</label>
              <select name="" class="form-control wide" id="inputDoctorName">
                {% for n in Disciplina %}
                <option value="">{{ n }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          -->
          <!--
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="inputPhone">Phone Number</label>
              <input type="number" class="form-control" id="inputPhone" placeholder="XXXXXXXXXX">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="inputSymptoms">Symptoms</label>
              <input type="text" class="form-control" id="inputSymptoms" placeholder="">
            </div>
          </div>
        -->
          <!--
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="inputDate">Choose Date</label>
              <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                <input type="text" class="form-control" readonly>
                <span class="input-group-addon date_icon">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          -->
          <br />
          <div class="form-row">
            <div class="form-group col-lg-4">
              <div class="btn-box">
                <button type="submit" class="btn">Criar Turmas</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->
