{% load static %}

<!-- client section -->
<section id="depoimentos" class="section">
  <!-- Conteúdo da seção Depoimentos aqui -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span>Depoimentos</span>
        </h2>
      </div>
    </div>
    <div class="container px-0">
      <div
        id="customCarousel2"
        class="carousel carousel-fade"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>Maria Silva</h5>
                  <h6>Ex aluna de Sistemas de Informação</h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                "Minha experiência na Unialfa foi incrível! 
                Cursei Tecnologia da Informação e aprendi muito 
                durante todo o curso. Os professores são excelentes e 
                sempre estavam disponíveis para ajudar. 
                Além disso, a Unialfa oferece diversas oportunidades de estágio e networking, o que me ajudou a conseguir um emprego logo após me formar. Recomendo a Unialfa para todos que desejam uma formação de qualidade e mais oportunidades no mercado de trabalho."
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>José Oliveira</h5>
                  <h6>Estudante de ADS</h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                "Sou muito grato por ter escolhido a Unialfa
                para cursar ADS. Durante minha jornada acadêmica, 
                aprendi não apenas conhecimentos técnicos, mas
                  também desenvolvi habilidades interpessoais e
                  de resolução de problemas. A grade curricular é atualizada
                  e os professores são experientes e dedicados."
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>Brad Johns</h5>
                  <h6>Estudante de Engenharia de Software</h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                "Fazer parte da comunidade acadêmica da 
                Unialfa foi uma das melhores decisões que já tomei.
                Estou cursando Engenharia de Software e, desde o início, fui envolvida em um ambiente
                  de aprendizado dinâmico e estimulante. Os projetos
                práticos e as atividades extracurriculares me permitiram
                  aplicar o conhecimento adquirido em sala de aula e me 
                  preparar para os desafios do mercado de trabalho." 
              </p>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a
            class="carousel-control-prev"
            href="#customCarousel2"
            role="button"
            data-slide="prev"
          >
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Anterior</span>
          </a>
          <a
            class="carousel-control-next"
            href="#customCarousel2"
            role="button"
            data-slide="next"
          >
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
    </div>
  </section>  
</section>

<!-- end client section -->
