{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'slider_section.html' %}

{% include 'bookSection.html' %}

{% include 'qts.html' %}
  
{% include 'sobre.html' %}
  <!-- end treatment section -->

<!-- team section -->
{% include 'professor.html' %}
<!-- end team section -->

  <!-- client section -->
{% include 'cliente.html' %}
  <!-- end client section -->

  <!-- contact section -->
{% include 'contato.html' %}
  <!-- end contact section -->

  <!-- info section -->
{% include 'info.html' %}
  <!-- end info_section -->


  <!-- footer section -->
{% include 'footer.html' %}
  <!-- footer section -->

{% endblock %}
