{% load static %}

  <!-- info section -->
  <section class="info_section ">
      <div class="info_bottom layout_padding2">
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <h5>
              Endereço
            </h5>
            <div class="info_contact">
              <a href="https://maps.app.goo.gl/EsbhCx81KcqrBfJt7">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Localização
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Ligar: (62) 99937-5720
                </span>
              </a>
            </div>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h5>
                Links úteis
              </h5>
              <div class="info_links_menu">
                <a class="index" href="{% url 'index' %}">
                  Início
                </a>
                <a href="#sobre">
                  Sobre
                </a>
                <a href="#professores">
                  Professores
                </a>
                <a href="#depoimentos">
                  Depoimentos
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h5>
                Cursos
              </h5>
              <div class="info_links_menu">
                <a href="https://www.unialfa.com.br/graduacao/">
                  Graduação
                </a>
                <a href="https://www.unialfa.com.br/unialfa-ead/">
                  UNIALFA EaD
                </a>
                <a href="https://www.unialfa.com.br/pos-graduacao/">
                  Pós-Graduação
                </a>
                <a href="https://www.unialfa.com.br/mestrado/">
                  Mestrado
                </a>
                <a href="https://www.unialfa.com.br/curta-duracao/">
                  Curta-Duração
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h5>
                Contato
              </h5>
              <div class="info_links_menu">
                <a href="https://www.unialfa.com.br/atendimento/#informa-es-gerais">
                  Informações Gerais
                </a>
                <a href="https://www.unialfa.com.br/atendimento/#ouvidoria">
                  Ouvidoria
                </a>
                <a href="https://www.unialfa.com.br/atendimento/#fale-conosco">
                  Fale Conosco
                </a>
                <a href="https://www.unialfa.com.br/ex-alunos-egressos/">
                  Ex-Alunos
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->
