{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horários</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Adicione outras importações de estilo aqui, se necessário -->
    <style>
      th {
        background-color: #c61700ea; /* Define a cor de fundo do cabeçalho */
        color: #ffffff; /* Define a cor do texto do cabeçalho */
      }

      td,
      th {
        text-align: center; /* Centraliza o conteúdo das células */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Horários</h1>
      {% for matriz in montar_matriz.values %}
      <table class="table table-bordered">
        <thead>
          <tr style="width: 100px;">
            {% for header in matriz.0 %}
            <th style="width: 100px;">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for linha in matriz %}
          {% if not forloop.first %}
          <tr style="width: 100px;">
            {% for celula in linha %}
            <td style="width: 100px;">{{ celula }}</td>
            {% endfor %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Adicione outras importações de script aqui, se necessário -->
  </body>
</html>
