{% load static %}
    <!-- slider section -->
    <section class="slider_section ">
        <div class="dot_design">
          <img src="{% static 'images/dots.png' %}" alt="">
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div class="play_btn">
                        <button>
                          <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                      </div>
                      <h1>
                        Unialfa <br>
                        <span>
                          Faculdade
                        </span>
                      </h1>
                      <p>
                        Corpo docente qualificado, Nota Máxima no MEC
                      </p>
                      <a href="https://www.unialfa.com.br/contato/">
                        Entre em contato
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="{% static 'images/Teste.png' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div class="play_btn">
                        <button>
                          <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                      </div>
                      <h1>
                        Unialfa <br>
                        <span>
                          Faculdade
                        </span>
                      </h1>
                      <p>
                      Cursos de graduação, pós-graduação, mestrado EaD
                      e curta duração para você se diferenciar no mercado!  
                      </p>
                      <a href="https://www.unialfa.com.br/contato/">
                        Entre em contato
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="{% static 'images/Teste.png' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div class="play_btn">
                        <button>
                          <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                      </div>
                      <h1>
                        Unialfa <br>
                        <span>
                          Faculdade
                        </span>
                      </h1>
                      <p>
                        Vestibular 2024/2 | Inscreva-se
                      </p>
                      <a href="https://www.unialfa.com.br/vestibular/">
                        Vestibular
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="{% static 'images/Teste.png' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
              <img src="{% static 'images/prev.png' %}" alt="">
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
              <img src="{% static 'images/next.png' %}" alt="">
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
  
      </section>
      <!-- end slider section -->
    </div>