{% load static %}

  <!-- about section -->
<section id="sobre" class="section">
    <!-- Conteúdo da seção Sobre aqui -->
  <section class="about_section">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/banner.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 id = "sobre">
                Sobre a <span>Faculdade</span>
              </h2>
            </div>
            <p>
              Com mais 20 anos de história, a UNIALFA integra o 
              Grupo José Alves e se destaca como uma instituição 
              referência pelo seu ensino voltado para a prática e
                pela aplicação de metodologias ativas em sala de aula.
                A infraestrutura que os acadêmicos usufruem é digna de 
                país de primeiro mundo. Todos os campi são dotados de 
                instalações atualizadas e confortáveis, salas climatizadas
              e laboratórios amplos, modernos e em adequação permanente, 
              como o recém-inaugurado Núcleo de Práticas em Tecnologia e Inovação.
                Espaço este para os alunos criarem, experimentarem e saírem gabaritados
                para atuarem nos mercados nacional e internacional. As bibliotecas possuem 
                quase 70 mil volumes e acervo digital atualizado.
                <br>
            <a href="https://www.unialfa.com.br/institucional/#apresenta-o-">
              Saiba mais
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>


  <!-- end about section -->
